{% extends "base.html" %}
{% block title %}
Blog App 
{% endblock %}


{% block content %}
<div class="mt-5 ps-5 ">
    <h1>Create Blog Page</h1>
    <form method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <div class="row row-cols-1 row-cols-md-2 g-5">
            <button type="submit" class='btn btn-primary w-50'>Create</button>
            <button type="reset" class='btn btn-outline-danger w-50'>Reset</button>
        </div>
</form>
</div>
{% endblock %}