{% extends "base.html" %}
{% block title %}
Blog App 
{% endblock %}

{% block content %}
<div class="mt-5">
{% if blog %}
<h2 class="ps-5">All Blogs</h2>
{% if blog.pk %}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4"  style="max-width: 540px;">
      <img src="{{ blog.blog_img.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ blog.blog_title }}</h5>
        <p class="card-text">{{ blog.blog_text }}</p>
        {% if blog.user == user %}
        <a href="{% url "edit_blog" blog.id %}">Edit</a>
        <a href="{% url "delete_blog" blog.id %}">Del</a>
        {% endif %}
        <p class="card-text"><small class="text-body-secondary">Updated on {{ blog.blog_updated }}</small></p>
      </div>
      <hr>
<h5 class="card-title">Reviews</h5>
{% if reviews %}
{% for review in reviews %}

{% if review.r_blog.id == blog.id %}
{% if review.comment %}
<div class="card" style="width: 90%;">
  <div class="card-body">
    <small style="font-size: 12px">At {{review.r_date}}</small>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.r_blog.user }}</h6>
    <p class="card-text">{{ review.get_rating_display }} <br>{{ review.comment }}</p>
    {% if user == blog.user %}    
    <a href="{% url "delete_comment" review.id %}" >Del</a>
    {% endif %}
{% else %}
<p>No reviews</p>
{% endif %}


  </div>
</div>
{% endif %}

{% endfor %}
{% else %}
<p class="text-center">No reviews</p>
{% endif %}
    </div>
  </div>
</div>
{% else %}
<p>No blog found</p>
{% endif %}
{% else %}
<p>No Blog Found</p>
{% endif %}
</div>
{% endblock %}